@model IEnumerable<TheSocialMedia.Domain.AggregatesModel.ProfileAggregate.Profile>

@{
    ViewData["Title"] = "Complete Your Profile";
}



<p>
    <a asp-action="Create">Complete Your Profile</a>
</p>